.contact {
  padding-top: 40px;
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom,var(--secundary-blue) , 95% ,var(--main-blue));
}
.contact .title {
  margin-bottom: 30px;
}

.contact .title--sub{
  margin-top: 30px;
}

.contact__text{
  color: var(--main-green);
  font-size: 1.1rem;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.form__container {
  padding: 20px 10px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form__container .button {
  grid-column: 2/3;
  margin-right: 3px;
}

.form__group {
  padding: 3px;
  width: 100%;
  margin: 0;
  grid-column: span 1;
}

.form__group:nth-child(3),
.form__group:nth-child(4) {
  grid-column: span 2;
}

.input {
  font-weight: 300;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: var(--third-blue);
  color: var(--main-white);
  border: none;
  outline: none;
  border-bottom: solid 2px rgba(186, 255, 41, 0);
}

.input-error {
  border-bottom: solid 2px #ff1f1f;
}
.input:focus {
  border-bottom: solid 2px rgba(186, 255, 41, 1);
  transition: .5s;
}
.input::placeholder {
  color: var(--third-white);
}

.contact__social {
  margin-bottom: 50px;
}

.contact__icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.contact__icons .icon {
  margin: 0 20px;
  font-size: 2.5rem;
  color: var(--main-green);
}

.message {
  color: var(--main-green);
  font-weight: 300;
}
.message-error {
  color: var(--error-red);
}

@media screen and (min-width: 1024px) {
  .contact {
    position: relative;
    padding-bottom: 150px;
  }
  
  .contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact__icons .icon:hover {
    color: var(--secundary-green);
  }
  .contact__icons .icon:active {
    color: var(--third-green);
  }
  
  .contact .button::after {
    position: absolute;
    content: url(../img/lines/desktop/line-9-desktop.svg);
    left: 0;
  }

  .contact__icons::before {
    position: absolute;
    content: url(../img/lines/desktop/line-8-desktop.svg);
    right: 0;
  }

}